@charset "utf-8";
/*css document*/
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,input,textarea,fieldset,figure,a{
	margin:0;
	padding:0;
}
body{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
	color: #333333;
	background: #f1f4f6;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:0;

}
