
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,input,textarea,figure，fieldset{
	margin:0;
	padding:0;
	/* box-sizing: border-box; */
}
ul {
  list-style: none;
}


/* 右侧图表内容 */


/*.f-rightContent{*/
  /*width: 100%;*/
  /*background-color: #f1f4f6;*/
  /*margin-right: 15px;*/
/*}*/
.f-content-zz{
  width: 100%;
  background-color: #f1f4f6;
  margin-right: 15px;
}
.f-rightConHeader{
display: flex;
justify-content: space-between;
height: 50px;
line-height: 50px;
color: #777777;
font-size:12px;
}
.fMainCon{
margin-left: 10px;
}
.PersonalManage{
padding-right: 20px;
}
.fp{
color: #333333;
font-size: 12px;
margin-left: 10px;
height: 68px;
background-color: #e8edf0;
line-height: 18px;
text-indent: 10px;
padding-top: 15px;
margin-right: 15px;
}

.ftableLists{
  width: 100%;
}
.ftableListsHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.ftableListsHeaderLeft{
  margin-left: 10px;
  display: flex;
}
.ftableListsHeaderRight{
  display: flex;
  margin-right: 15px;
}
.HL{
  margin-right: 10px;
  border-radius: 2px;
  height: 31px;
  color: #fff;
  line-height: 31px;
  text-align: center;
  cursor: pointer;
}
.frefresh{
  width: 36px;
  background-color: #2c3e50;
}
.fedit{
  width: 64px;
  background-color: #69d3be;
}
.fdelete{
  width: 64px;
  background-color: #ef8a80;
}

.frsearch{
  width: 170px;
  height: 29px;
  text-indent: 13px;
  color: #999;
  outline: none;
  margin-right: 5px;
  border: 1px solid #dddddd;
  background-color: #fff;
}
.tableListsChoise{
  display: flex;
  /* justify-content: space-around; */
  width: 135px;
  height: 29px;
  border: 1px solid #dddddd;
  margin-right: 5px;
  border-radius: 2px;
  text-align: center;
  line-height: 29px;
  background-color: #f4f4f4;
  font-size: 14px;
  position: relative;
}
i.icon-qiehuan{
  flex:1;
}
i.icon-jiugongge{
 
  width: 48px;
  cursor: pointer;
}
i.icon-jiugongge span{
  width: 0;
  height: 0;
  border:6px solid transparent;
  border-top-color: #000;
  margin-top: 5px;
  position: absolute;
  top:7px;
  left: 32px;
}
.TableCheckBox{
  position: relative;
  width: 48px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.checkLists{
  background-color: #fff;
  width: 140px;
  height: 300px;
  overflow-y: auto;
  position: absolute;
  left: -100px;
  top:35px;
  border: 1px solid #777777;
  text-indent: 5px;
  cursor: pointer;
}
.checkLists li{
  text-align: left;
}
.foutLists{
  background-color: #fff;
  width: 140px;
  line-height: 20px;
  position: absolute;
  left: 00px;
  top:35px;
  text-indent: 5px;
}
.foutLists li{
  text-align: left;
}
.FoutTuBiao{
  width: 48px;
}
i.icon-daochu{
  width: 48px;
  cursor: pointer;
}
i.icon-daochu span{
  width: 0;
  height: 0;
  border:6px solid transparent;
  border-top-color: #000;
  margin-top: 5px;
  position: absolute;
  top:7px;
  left: 120px;
}
.tableListsChoise i:hover{
  background-color: #d0cbcb;
}



/*!* biaoge  *!*/
/*table.ftableShow{*/
  /*margin-top: 5px;*/
  /*border: 1px solid #f4f4f4;*/
  /*width: 100%;*/
  /*border-spacing: 0;*/
  /*padding-right: 10px;*/
  /*margin-left: 10px;*/
  /*text-align: center;*/
  /*box-sizing: border-box;*/
/*}*/
/*.ftableHead{*/
  /*height: 40px;*/
/*}*/
/*.ftableBody{*/
  /*height: 60px;*/
/*}*/
/*.ftableBody td{*/
  /*font-size: 12px;*/
/*}*/

/*table*/
.table{
  margin-top: 10px;
}
.table_container{
  position: relative;
  clear: both;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.table_content{
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
}
.table{
  width: 100%;
  padding: 8px;
  margin-bottom: 0!important;
  border: 1px solid #f4f4f4;
  /*border-bottom: 1px solid #ddd;*/
  border-collapse: collapse!important;
  border-spacing: 0;
  border-radius: 1px;

}
.th_checkbox{
  text-align: center;
  vertical-align: middle;
  border: 1px solid #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.th_one{
  padding:8px 0;
}
.th_inner{
  padding:8px ;
  line-height: 24px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
tbody{
  background-color: #f9f9f9;
}
tbody td{
  text-align: center;
  vertical-align: middle;
  border: 1px solid #f4f4f4;
  border-bottom: none;
  font-size: 12px;
}

.th_inner i.icon-shanchu{
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-color: #ef8a80;
  color: #fff;
}
.th_inner i.icon-edit{
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #69d3be;
  color: #fff;
}
.th_checkbox div.operation1{
  height: 20px;
  line-height: 20px;
  background-color:#2c3e50;
  padding: 2px;
  color: #fff;
}
.fstatu{
  font-size: 14px;
  color: #e74c3c;
}
.fstatu .icon-yuan{
  margin-right: 2px;
}

/* 公共搜索——表格 */
.e-commonsearch-table {
  margin-bottom: 10px;
  margin-top: 20px;
}

.e-form-group {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 33%;
}

/*fieldset {*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*border: 0;*/
  /*min-width: 0;*/
/*}*/

.e-control-label {
  width: 33%;
  text-align: right;
  padding-top: 7px;
  float: left;
}

.e-col-xs-8 {
  width: 67%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.e-form-submit{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  text-align: center;
}
.e-form-control {
  width: 100%;
  color: #555555;
  border: 1px solid #d2d6de;
  height: 30px;
  padding: 0 12px;
}

.e-btn-submit {
  padding: 6px 12px;
  border-radius: 3px;
  color: #fff;
  background-color: #18bc9c;
  border: 1px solid transparent;
  cursor: pointer;
  margin-right: 10px;
}
.e-btn-submit:hover{
  background: #777;
}
.e-btn-default {
  background-color: #f4f4f4;
  color: #444;
  border:1px solid #ddd;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
}
.e-btn-default:hover{
  border-color: #999;
  background: #eee;
}


/*底部*/
.showFooter{
  width: 100%;
  padding:15px;
  font-size: 14px;
}
/*分页器*/
.block{
  padding-top: 10px;
  padding-bottom: 30px;
}
